################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Textures/Things/Pawn/Humanlike/Heads
/Textures/Eyes.7z
